@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Londrina+Solid:wght@100&family=Permanent+Marker&family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Staatliches&display=swap');

:root {
    --font1: 'Permanent Marker', cursive;
    --font2: 'Capriola', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right bottom, #04030c, #0c04e9);
}

.perfil{
    margin-left: 30px;
}

header{
    display: flex;   
    justify-content:space-between;
    border-bottom: 2px solid white;
    padding: 30px;
}

#cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#cabecalho a{
    display: flex;
    justify-content: space-between;
    margin: 0px 90px 0px 10px;
}

#cabecalho a:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}

section{
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px;
    color: white;
    height: 380px;
}

#meunome {
    width: 530px;
}
picture {
    position: absolute;
    display: flex;
    flex-wrap: wrap;

    left: 60vw;

}

#meunome h1 {
    font-family: var(--font2);
    text-shadow: 2px 2px black;
    font-size: 4em;
    width: 480px; ;
    margin-left: 17px;

}

#meunome h2 {
    font-family: var(--font1);
    text-shadow: 2px 2px black;
    font-size: 2.5em;
    width: 510px;
    margin-left: 17px;
}

button {
    width: 200px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.363);
    background-color: #05042cd8;
    border: 0;
    margin-top: 20px;
    margin-left:130px;
}

button:hover {
    background-color: white;
    box-shadow: 2px 2px 2px black;
    transform: scale(1.1);
    transition: all 0.3s;
}

button a:hover {
    color: black;
}

button a {
    font-family: var(--font1);
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

footer{
    background-color:#030135 ;
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width:625px){

    
}