@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Londrina+Solid:wght@100&family=Permanent+Marker&family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Staatliches&display=swap');

:root {
    --font1: 'Permanent Marker', cursive;
    --font2: 'Capriola', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right bottom, #04030c, #0c04e9);
}

.perfil{
    margin-left: 30px;
}

header{
    display: flex;   
    justify-content:space-between;
    border-bottom: 2px solid white;
    padding: 30px;
}

#cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#cabecalho a{
    display: flex;
    justify-content: space-between;
    margin: 0px 90px 0px 10px;
}

#cabecalho a:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}

section{
    border-bottom: 1px solid white;
}

nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px;
    color: white;
    height: 380px;
}

#meunome {
    width: 530px;
}
picture {
    position: absolute;
    display: flex;
    flex-wrap: wrap;

    left: 60vw;

}

#meunome h1 {
    font-family: var(--font2);
    text-shadow: 2px 2px black;
    font-size: 4em;
    width: 480px; ;
    margin-left: 17px;

}

#meunome h2 {
    font-family: var(--font1);
    text-shadow: 2px 2px black;
    font-size: 2.5em;
    width: 510px;
    margin-left: 17px;
}

#botao{
    text-align: center;
    background-color:#030135;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 1px 1px  rgba(255, 255, 255, 0.596);
    padding: 10px;
    margin-left: 140px;
    margin-top: 30px;
    width: 210px;
}

#botao a {
    color: white;
    text-decoration: none;
    font-family:var(--font1);
    font-size: 23px;
}

#botao:hover{
    background-color: white;
    box-shadow:3px 3px  black;
    transform: scale(1.1);
}

#botao a:hover{
    color: black;
    transition: 0.5s;
    text-decoration: underline;
}

footer{
    background-color:#030135 ;
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width:625px){

    #meunome h1 {
        font-size: 10vw;
        margin-left: 7vw;
        
    }

    #meunome h2 {
        font-size: 6vw;
    }

    picture{
        position: relative;
        float: left;
    }

    #botao{
        margin-left: 18vw;
    }
}